{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}

    <!-- Filter-Form -->
    <section id="filter_form" class="inner-filter gray-bg">
        <div class="container">
            <h3>یافتن خودرو رویایی <span>(جستجوی آسان از اینجا)</span></h3>
            <div class="row">
                <form action="#" method="get">
                    <div class="form-group col-md-3 col-sm-6 black_input">
                        <div class="select">
                            <select class="form-control">
                                <option value=""> مکان را انتخاب کنید</option>
                                <option value=""> مکان 1</option>
                                <option value=""> مکان 1</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-sm-6 black_input">
                        <div class="select">
                            <select class="form-control">
                                <option> مارک را انتخاب کنید</option>
                                <option> مارک 1</option>
                                <option> مارک 2</option>
                                <option> مارک 3</option>
                                <option> مارک 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-sm-6 black_input">
                        <div class="select">
                            <select class="form-control">
                                <option> مدل را انتخاب کنید</option>
                                <option> سری 1</option>
                                <option> سری 2</option>
                                <option> سری 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-sm-6 black_input">
                        <div class="select">
                            <select class="form-control">
                                <option> سال مدل</option>
                                <option> 1400</option>
                                <option> 1399</option>
                                <option> 1398</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 black_input">
                        <label class="form-label">رنج قیمت ( تومان )</label>
                        <input id="price_range" type="text" class="span2" value="" data-slider-min="50"
                               data-slider-max="6000" data-slider-step="5" data-slider-value="[1000,5000]"/>
                    </div>
                    <div class="form-group col-md-3 col-sm-6 black_input">
                        <div class="select">
                            <select class="form-control">
                                <option> نوع اتومبیل</option>
                                <option> اتومبیل جدید</option>
                                <option> ماشین دست دوم</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-sm-6">
                        <button type="submit" class="btn btn-block"><i class="fa fa-search" aria-hidden="true"></i>
                            جستجوی خودرو
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- /Filter-Form -->

    <!--Listing-detail-->
    <section class="listing-detail">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="listing_images">
                        {% if car.car_image.first %}
                            <div id="listing_images_slider" class="listing_images_slider">
                                {% for image in car.car_image.all %}
                                    <div><img src="{{ image.image.url }}" alt="image"></div>
                                {% endfor %}
                            </div>
                            <div id="listing_images_slider_nav" class="listing_images_slider_nav">
                                {% for image in car.car_image.all %}
                                    <div><img src="{{ image.image.url }}" alt="image"></div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div id="listing_images_slider" class="listing_images_slider">
                                <div><img src="{% static "assets/images/no-image.jpg" %}" alt="image"></div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="main_features">
                        <ul>
                            <li><i class="fa fa-tachometer" aria-hidden="true"></i>
                                <h5>{{ car.kilometer_of_move }}</h5>
                                <p>کل کیلومتر</p>
                            </li>
                            <li><i class="fa fa-calendar" aria-hidden="true"></i>
                                <h5>{{ car.year_of_create }}</h5>
                                <p>سال تولبد</p>
                            </li>
                            <li><i class="fa fa-cogs" aria-hidden="true"></i>
                                {% if car.fuel_type == 'C' %}
                                    <h5>CNG</h5>
                                {% elif car.fuel_type == 'P' %}
                                    <h5>بنزینی</h5>
                                {% elif car.fuel_type == 'D' %}
                                    <h5>دیزلی</h5>
                                {% else %}
                                    <h5>Hybrid</h5>
                                {% endif %}
                                <p>نوع سوخت</p>
                            </li>
                            <li><i class="fa fa-power-off" aria-hidden="true"></i>
                                <h5>اتوماتیک</h5>
                                <p>نوع</p>
                            </li>
                            <li><i class="fa fa-superpowers" aria-hidden="true"></i>
                                <h5>153KW</h5>
                                <p>موتور</p>
                            </li>
                            <li><i class="fa fa-user-plus" aria-hidden="true"></i>
                                <h5>5</h5>
                                <p>صندلی</p>
                            </li>
                        </ul>
                    </div>
                    <div class="listing_more_info" style="direction: rtl;text-align: right">
                        <div class="listing_detail_wrap">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs gray-bg" role="tablist">
                                <li role="presentation"><a href="#vehicle-overview "
                                                           aria-controls="vehicle-overview" role="tab"
                                                           data-toggle="tab">بررسی اجمالی خودرو </a></li>
                                <li role="presentation"><a href="#specification" aria-controls="specification"
                                                           role="tab"
                                                           data-toggle="tab">مشخصات فنی</a></li>
                                <li role="presentation" class="active"><a href="#accessories"
                                                                          aria-controls="accessories" role="tab"
                                                                          data-toggle="tab">تجهیزات جانبی</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- vehicle-overview -->
                                <div role="tabpanel" class="tab-pane active" id="vehicle-overview">
                                    <h4>لورم اسپم چیست؟</h4>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                        برای
                                        شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                                        باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و
                                        متخصصان
                                        را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص
                                        طراحان
                                        خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد در این صورت می توان امید داشت که
                                        تمام و
                                        دشواری موجود در ارائه راهکارها </p>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                        برای
                                        شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                                        باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و
                                        متخصصان
                                        را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان </p>
                                    <h4>لورم اسپم چیست ؟</h4>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                        برای
                                        شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                                        باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و
                                        متخصصان
                                        را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص
                                        طراحان
                                        خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد در این صورت می توان امید داشت که
                                        تمام و
                                        دشواری موجود در ارائه راهکارها </p>
                                </div>

                                <!-- Technical-Specification -->
                                <div role="tabpanel" class="tab-pane" id="specification">
                                    <div class="table-responsive">
                                        <!--Basic-Info-Table-->
                                        <table>
                                            <thead>
                                            <tr>
                                                <th colspan="2">اطلاعات پایه</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>سال تولید</td>
                                                <td>1398</td>
                                            </tr>
                                            <tr>
                                                <td>شماره مالکان</td>
                                                <td>4</td>
                                            </tr>
                                            <tr>
                                                <td>کیلومتر رانده شده</td>
                                                <td>30,000</td>
                                            </tr>
                                            <tr>
                                                <td>نوع سوخت</td>
                                                <td>دیزلی</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <!--Technical-Specification-Table-->
                                        <table>
                                            <thead>
                                            <tr>
                                                <th colspan="2">مشخصات فنی</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td> نوع موتور</td>
                                                <td> موتور دیزل TDCI</td>
                                            </tr>
                                            <tr>
                                                <td> شرح موتور</td>
                                                <td> 1.5 کیلو وات</td>
                                            </tr>
                                            <tr>
                                                <td> نه از سیلندرها</td>
                                                <td> 4</td>
                                            </tr>
                                            <tr>
                                                <td> مسافت پیموده شده شهر</td>
                                                <td> 22.4kmpl</td>
                                            </tr>
                                            <tr>
                                                <td> بزرگراه مسافت پیموده شده</td>
                                                <td> 25.83kmpl</td>
                                            </tr>
                                            <tr>
                                                <td> ظرفیت مخزن سوخت</td>
                                                <td> 40 (لیتر)</td>
                                            </tr>
                                            <tr>
                                                <td> ظرفیت صندلی</td>
                                                <td> 5</td>
                                            </tr>
                                            <tr>
                                                <td> نوع انتقال</td>
                                                <td> دفترچه راهنما</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <!-- Accessories -->
                                <div role="tabpanel" class="tab-pane" id="accessories">
                                    <!--Accessories-->
                                    <table>
                                        <thead>
                                        <tr>
                                            <th colspan="2">تجهیزات جانبی</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>تهویه کننده هوا</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>سیستم ترمز ضد قفل</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>فرمان برقی</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>پنجره های قدرت</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>پخش کننده CD</td>
                                            <td><i class="fa fa-close" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>صندلی های چرمی</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>قفل مرکزی</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>قفل درب برق</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>کمک ترمز</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>کیسه هوا راننده</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>کیسه هوا مسافر</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>سنسور خرابی</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>هشدار بررسی موتور</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Automatic Headlamps</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!--Vehicle-Video-->
                        <div class="video_wrap">
                            <h6>مشاهده ویدئو </h6>
                            <div class="video-box">
                                <iframe class="mfp-iframe" src="https://www.youtube.com/embed/rqSoXtKMU3Q"
                                        allowfullscreen></iframe>
                            </div>
                        </div>

                        <!--Comment-Form-->
                        <div class="comment_form">
                            <h6> ارسال نظر </h6>
                            <form action="#">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="نام ">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="آدرس ">
                                </div>
                                <div class="form-group">
                                    <textarea rows="5" class="form-control" placeholder="نظر"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn" value="ارسال نظر ">
                                </div>
                            </form>
                        </div>
                        <!--/Comment-Form-->

                    </div>
                </div>

                <!--Side-Bar-->
                <aside class="col-md-3">
                    <div class="sidebar_widget">
                        <div class="widget_heading">
                            <h5><i class="fa fa-calculator" aria-hidden="true"></i> ماشین حساب تأمین مالی </h5>
                        </div>
                        <div class="financing_calculatoe">
                            <form action="#" method="get">
                                <div class="form-group">
                                    <label class="form-label">قیمت خودرو (تومان)</label>
                                    <input class="form-control" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">قیمت پایین (تومان)</label>
                                    <input class="form-control" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">نرخ بهره</label>
                                    <div class="select">
                                        <select class="form-control select">
                                            <option>12%</option>
                                            <option>13%</option>
                                            <option>14%</option>
                                            <option>15%</option>
                                            <option>16%</option>
                                            <option>17%</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">دوره در سال</label>
                                    <div class="select">
                                        <select class="form-control">
                                            <option>3 سال</option>
                                            <option>4 سال</option>
                                            <option>5 سال</option>
                                            <option>6 سال</option>
                                            <option>7 سال</option>
                                            <option>8 سال</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block">محاسبه</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar_widget">
                        <div class="widget_heading">
                            <h5><i class="fa fa-address-card-o" aria-hidden="true"></i> تماس با فروشنده </h5>
                        </div>
                        <div class="dealer_detail"><img src="assets/images/dealer_img.jpg" alt="image">
                            <p><span> نام: </span> نام فروشنده </p>
                            <p><span> ایمیل: </span> contact@example.com </p>
                            <p><span> تلفن: </span> 09363669731 </p>
                            <a href="#" class="btn btn-xs"> مشاهده پروفایل </a></div>
                    </div>
                    <div class="sidebar_widget">
                        <div class="widget_heading">
                            <h5><i class="fa fa-envelope" aria-hidden="true"></i> پیام به فروشنده</h5>
                        </div>
                        <form action="#">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="نام">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="ایمیل">
                            </div>
                            <div class="form-group">
                                <textarea rows="4" class="form-control" placeholder="پیام"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="ارسال پیام" class="btn btn-block">
                            </div>
                        </form>
                    </div>
                </aside>
                <!--/Side-Bar-->

            </div>
            <div class="space-20"></div>
            <div class="divider"></div>

            <!--Similar-Cars-->
            <div class="similar_cars">
                <h3>ماشین های مشابه</h3>
                <div class="row">
                    <div class="col-md-3 grid_listing">
                        <div class="product-listing-m gray-bg">
                            <div class="product-listing-img"><a href="#"><img src="assets/images/featured-img-3.jpg"
                                                                              class="img-responsive" alt="image"/> </a>
                                <div class="label_icon">جدید</div>
                                <div class="compare_item">
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="compare13">
                                        <label for="compare13">مقایسه</label>
                                    </div>
                                </div>
                            </div>
                            <div class="product-listing-content">
                                <h5><a href="#">نام خودرو</a></h5>
                                <p class="list-price">89 میلیون تومان</p>
                                <div class="car-location"><span><i class="fa fa-map-marker" aria-hidden="true"></i> شهرستان خوی</span>
                                </div>
                                <ul class="features_list">
                                    <li><i class="fa fa-road" aria-hidden="true"></i>35 هزار کیلومتر</li>
                                    <li><i class="fa fa-tachometer" aria-hidden="true"></i>30 هزار مایل</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>مدل 1398</li>
                                    <li><i class="fa fa-car" aria-hidden="true"></i>دیزلی</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 grid_listing">
                        <div class="product-listing-m gray-bg">
                            <div class="product-listing-img"><a href="#"><img src="assets/images/featured-img-2.jpg"
                                                                              class="img-responsive" alt="image"/> </a>
                                <div class="label_icon">جدید</div>
                                <div class="compare_item">
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="compare20">
                                        <label for="compare20">مقایسه</label>
                                    </div>
                                </div>
                            </div>
                            <div class="product-listing-content">
                                <h5><a href="#">نام خودرو </a></h5>
                                <p class="list-price">89 میلیون تومان</p>
                                <div class="car-location"><span><i class="fa fa-map-marker" aria-hidden="true"></i> شهرستان خوی</span>
                                </div>
                                <ul class="features_list">
                                    <li><i class="fa fa-road" aria-hidden="true"></i>35 هزار کیلومتر</li>
                                    <li><i class="fa fa-tachometer" aria-hidden="true"></i>30 هزار مایل</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>مدل 1398</li>
                                    <li><i class="fa fa-car" aria-hidden="true"></i>دیزلی</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 grid_listing">
                        <div class="product-listing-m gray-bg">
                            <div class="product-listing-img"><a href="#"><img src="assets/images/600x380.jpg"
                                                                              class="img-responsive" alt="image"/> </a>
                                <div class="label_icon">کارکرده</div>
                                <div class="compare_item">
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="compare15">
                                        <label for="compare15">مقایسه</label>
                                    </div>
                                </div>
                            </div>
                            <div class="product-listing-content">
                                <h5><a href="#">نام خودرو</a></h5>
                                <p class="list-price">89 میلیون تومان</p>
                                <div class="car-location"><span><i class="fa fa-map-marker" aria-hidden="true"></i> شهرستان خوی</span>
                                </div>
                                <ul class="features_list">
                                    <li><i class="fa fa-road" aria-hidden="true"></i>35 هزار کیلومتر</li>
                                    <li><i class="fa fa-tachometer" aria-hidden="true"></i>30 هزار مایل</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>مدل 1398</li>
                                    <li><i class="fa fa-car" aria-hidden="true"></i>دیزلی</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 grid_listing">
                        <div class="product-listing-m gray-bg">
                            <div class="product-listing-img"><a href="#"><img src="assets/images/600x380.jpg"
                                                                              class="img-responsive" alt="image"/> </a>
                                <div class="label_icon">کارکرده</div>
                                <div class="compare_item">
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="compare16">
                                        <label for="compare16">مقایسه</label>
                                    </div>
                                </div>
                            </div>
                            <div class="product-listing-content">
                                <h5><a href="#">نام خودرو</a></h5>
                                <p class="list-price">89 میلیون تومان</p>
                                <div class="car-location"><span><i class="fa fa-map-marker" aria-hidden="true"></i> شهرستان خوی</span>
                                </div>
                                <ul class="features_list">
                                    <li><i class="fa fa-road" aria-hidden="true"></i>35 هزار کیلومتر</li>
                                    <li><i class="fa fa-tachometer" aria-hidden="true"></i>30 هزار مایل</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>مدل 1398</li>
                                    <li><i class="fa fa-car" aria-hidden="true"></i>دیزلی</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Similar-Cars-->

        </div>
    </section>
    <!--/Listing-detail-->


{% endblock %}