{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}



    <!--Listing-detail-->
    <section class="listing-detail">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="listing_images">
                        {% if car.car_image.first %}
                            <div id="listing_images_slider" class="listing_images_slider">
                                {% for image in car.car_image.all %}
                                    <div><img src="{{ image.image.url }}" alt="image"></div>
                                {% endfor %}
                            </div>
                            <div id="listing_images_slider_nav" class="listing_images_slider_nav">
                                {% for image in car.car_image.all %}
                                    <div><img src="{{ image.image.url }}" alt="image"></div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div id="listing_images_slider" class="listing_images_slider">
                                <div><img src="{% static "assets/images/no-image.jpg" %}" alt="image"></div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="main_features">
                        <ul>
                            <li><i class="fa fa-tachometer" aria-hidden="true"></i>
                                <h5>{{ car.kilometer_of_move }}</h5>
                                <p>کل کیلومتر</p>
                            </li>
                            <li><i class="fa fa-calendar" aria-hidden="true"></i>
                                <h5>{{ car.year_of_create }}</h5>
                                <p>سال تولبد</p>
                            </li>
                            <li><i class="fa fa-cogs" aria-hidden="true"></i>
                                {% if car.fuel_type == 'C' %}
                                    <h5>CNG</h5>
                                {% elif car.fuel_type == 'P' %}
                                    <h5>بنزینی</h5>
                                {% elif car.fuel_type == 'D' %}
                                    <h5>دیزلی</h5>
                                {% else %}
                                    <h5>Hybrid</h5>
                                {% endif %}
                                <p>نوع سوخت</p>
                            </li>
                            <li><i class="fa fa-power-off" aria-hidden="true"></i>
                                <h5>اتوماتیک</h5>
                                <p>نوع</p>
                            </li>
                            <li><i class="fa fa-superpowers" aria-hidden="true"></i>
                                <h5>153KW</h5>
                                <p>موتور</p>
                            </li>
                            <li><i class="fa fa-user-plus" aria-hidden="true"></i>
                                <h5>5</h5>
                                <p>صندلی</p>
                            </li>
                        </ul>
                    </div>
                    <div class="listing_more_info" style="direction: rtl;text-align: right">
                        <div class="listing_detail_wrap">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs gray-bg" role="tablist">
                                <li role="presentation"><a href="#vehicle-overview "
                                                           aria-controls="vehicle-overview" role="tab"
                                                           data-toggle="tab">بررسی اجمالی خودرو </a></li>
                                <li role="presentation"><a href="#specification" aria-controls="specification"
                                                           role="tab"
                                                           data-toggle="tab">مشخصات فنی</a></li>
                                <li role="presentation" class="active"><a href="#accessories"
                                                                          aria-controls="accessories" role="tab"
                                                                          data-toggle="tab">توضیحات</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- vehicle-overview -->
                                <div role="tabpanel" class="tab-pane active" id="vehicle-overview">
                                    <p>{{ car.descriptions }}</p>
                                </div>

                                <!-- Technical-Specification -->
                                <div role="tabpanel" class="tab-pane" id="specification">
                                    <div class="table-responsive">
                                        <!--Basic-Info-Table-->
                                        <table>
                                            <thead>
                                            <tr>
                                                <th colspan="2">اطلاعات پایه</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>سال تولید</td>
                                                <td>1398</td>
                                            </tr>
                                            <tr>
                                                <td>شماره مالکان</td>
                                                <td>4</td>
                                            </tr>
                                            <tr>
                                                <td>کیلومتر رانده شده</td>
                                                <td>30,000</td>
                                            </tr>
                                            <tr>
                                                <td>نوع سوخت</td>
                                                <td>دیزلی</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <!--Technical-Specification-Table-->
                                        <table>
                                            <thead>
                                            <tr>
                                                <th colspan="2">مشخصات فنی</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td> نوع موتور</td>
                                                <td> موتور دیزل TDCI</td>
                                            </tr>
                                            <tr>
                                                <td> شرح موتور</td>
                                                <td> 1.5 کیلو وات</td>
                                            </tr>
                                            <tr>
                                                <td> نه از سیلندرها</td>
                                                <td> 4</td>
                                            </tr>
                                            <tr>
                                                <td> مسافت پیموده شده شهر</td>
                                                <td> 22.4kmpl</td>
                                            </tr>
                                            <tr>
                                                <td> بزرگراه مسافت پیموده شده</td>
                                                <td> 25.83kmpl</td>
                                            </tr>
                                            <tr>
                                                <td> ظرفیت مخزن سوخت</td>
                                                <td> 40 (لیتر)</td>
                                            </tr>
                                            <tr>
                                                <td> ظرفیت صندلی</td>
                                                <td> 5</td>
                                            </tr>
                                            <tr>
                                                <td> نوع انتقال</td>
                                                <td> دفترچه راهنما</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <!-- Accessories -->
                                <div role="tabpanel" class="tab-pane" id="accessories">
                                    <!--Accessories-->
                                    <table>
                                        <thead>
                                        <tr>
                                            <th colspan="2">تجهیزات جانبی</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>تهویه کننده هوا</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>سیستم ترمز ضد قفل</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>فرمان برقی</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>پنجره های قدرت</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>پخش کننده CD</td>
                                            <td><i class="fa fa-close" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>صندلی های چرمی</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>قفل مرکزی</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>قفل درب برق</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>کمک ترمز</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>کیسه هوا راننده</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>کیسه هوا مسافر</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>سنسور خرابی</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>هشدار بررسی موتور</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Automatic Headlamps</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--Comment-Form-->
                        <div class="comment_form">
                            <h6> ارسال نظر </h6>
                            <form action="#">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="نام ">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="آدرس ">
                                </div>
                                <div class="form-group">
                                    <textarea rows="5" class="form-control" placeholder="نظر"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn" value="ارسال نظر ">
                                </div>
                            </form>
                        </div>
                        <!--/Comment-Form-->

                    </div>
                </div>

                <!--Side-Bar-->


            </div>
            <div class="space-20"></div>
            <div class="divider"></div>

            <!--Similar-Cars-->
            <div class="similar_cars">
                <h3>ماشین های مشابه</h3>
                <div class="row">
                    {% for car in related_ads %}
                        <div class="col-md-3 grid_listing">
                                <div class="product-listing-m gray-bg">
                                    <div class="product-listing-img">
                                        <a href="{% url 'addetail' car.id %}">
                                            {% if car.car_image.first %}

                                                <img src="{{ car.car_image.first.image.url }}"
                                                     class="img-responsive" alt="image"/>

                                            {% else %}
                                                <img src="{% static "assets/images/no-image.jpg" %}"
                                                     class="img-responsive" alt="image"/>
                                            {% endif %}
                                        </a>
                                        <div class="label_icon">جدید</div>
                                        <div class="compare_item">
                                            <div class="checkbox">
                                                <input type="checkbox" value="" id="compare10">
                                                <label for="compare10">مقایسه</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-listing-content">
                                        <h5><a href="{% url 'addetail' car.id %}">{{ car.car_name }}</a></h5>
                                        {% if car.price.type == 'F' %}
                                            <p class="list-price">{{ car.price.price }}</p>
                                        {% elif car.price.type == 'A' %}
                                            <p class="list-price">توافقی</p>

                                        {% else %}
                                            <p class="list-price">اقساطی</p>

                                        {% endif %}
                                        <div class="car-location"><span><i class="fa fa-map-marker"
                                                                           aria-hidden="true"></i> {{ car.user }}</span>
                                        </div>
                                        <ul class="features_list">
                                            <li><i class="fa fa-road" aria-hidden="true"></i>35 هزار کیلومتر</li>
                                            <li><i class="fa fa-tachometer" aria-hidden="true"></i>35 هزارمایل</li>
                                            <li><i class="fa fa-calendar"
                                                   aria-hidden="true"></i>مدل {{ car.year_of_create }}</li>
                                            {% if car.fuel_type == 'C' %}
                                                <li><i class="fa fa-car" aria-hidden="true"></i>CNG</li>
                                            {% elif car.fuel_type == 'P' %}
                                                <li><i class="fa fa-car" aria-hidden="true"></i>بنزینی</li>

                                            {% elif car.fuel_type == 'D' %}
                                                <li><i class="fa fa-car" aria-hidden="true"></i>دیزلی</li>
                                            {% else %}
                                                <li><i class="fa fa-car" aria-hidden="true"></i>Hybrid</li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!--/Similar-Cars-->

        </div>
    </section>
    <!--/Listing-detail-->


{% endblock %}