{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}
    <!--Page Header-->
    <section class="page-header listing_page">
        <div class="container">
            <div class="page-header_wrap">
                <div class="page-heading">
                    <h1>لیست خودروها</h1>
                </div>
                <ul class="coustom-breadcrumb">
                    <li><a href="#">خانه</a></li>
                    <li>لیست خودرو</li>
                </ul>
            </div>
        </div>
        <!-- Dark Overlay-->
        <div class="dark-overlay"></div>
    </section>
    <!-- /Page Header-->

    <!--Listing-grid-view-->
    <section class="listing-page" style="direction: rtl;text-align: right">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-push-3" style="left: 0 !important;">
                    <div class="mobile_search">
                        <div class="sidebar_widget">
                            <div class="widget_heading">
                                <h5><i class="fa fa-filter" aria-hidden="true"></i> اتومبیل رویایی خود را پیدا کنید
                                </h5>
                            </div>
                            <div class="sidebar_filter">
                                <form action="#" method="get">
                                    <div class="form-group select">
                                        <select class="form-control">
                                            <option> مکان را انتخاب کنید</option>
                                            <option> مکان 1</option>
                                            <option> مکان 2</option>
                                            <option> مکان 3</option>
                                            <option> مکان 4</option>
                                        </select>
                                    </div>
                                    <div class="form-group select">
                                        <select class="form-control">
                                            <option> مارک را انتخاب کنید</option>
                                            <option> مارک 1</option>
                                            <option> مارک 2</option>
                                            <option> مارک 3</option>
                                            <option> مارک 4</option>
                                        </select>
                                    </div>
                                    <div class="form-group select">
                                        <select class="form-control">
                                            <option> مدل را انتخاب کنید</option>
                                            <option> سری 1</option>
                                            <option> سری 2</option>
                                            <option> سری 3</option>
                                            <option> سری 4</option>
                                        </select>
                                    </div>
                                    <div class="form-group select">
                                        <select class="form-control">
                                            <option> سال مدل</option>
                                            <option> 1399</option>
                                            <option> 1395</option>
                                            <option> 1392</option>
                                            <option> 1391</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">محدوده قیمت (تومان) </label>
                                        <input id="price_range1" type="text" class="span2" value="" data-slider-min="50"
                                               data-slider-max="6000" data-slider-step="5"
                                               data-slider-value="[1000,5000]"/>
                                    </div>
                                    <div class="form-group select">
                                        <select class="form-control">
                                            <option> نوع اتومبیل</option>
                                            <option> اتومبیل جدید</option>
                                            <option> ماشین دست دوم</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block"><i class="fa fa-search"
                                                                                       aria-hidden="true"></i> جستجوی
                                            خودرو
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="result-sorting-wrapper">
                        <div class="sorting-count">
                            <p><span> {{ cars.count }} مورد نتایج جستجو</span></p>
                        </div>
                        <div class="result-sorting-by">
                            <p>مرتب سازی بر اساس :</p>
                            <form action="#" method="post">
                                <div class="form-group select sorting-select">
                                    <select class="form-control ">
                                        <option> قیمت (پایین تا زیاد)</option>
                                        <option> قیمت (بالا به پایین)</option>
                                        <option> جدیدترین موارد</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        {% for car in cars %}
                            <div class="col-md-4 grid_listing">
                                <div class="product-listing-m gray-bg">
                                    <div class="product-listing-img">
                                        <a href="{% url 'addetail' car.id %}">
                                            {% if car.car_image.first %}

                                                <img src="{{ car.car_image.first.image.url }}"
                                                     class="img-responsive" alt="image"/>

                                            {% else %}
                                                <img src="{% static "assets/images/no-image.jpg" %}"
                                                     class="img-responsive" alt="image"/>
                                            {% endif %}
                                        </a>
                                        <div class="label_icon">جدید</div>
                                        <div class="compare_item">
                                            <div class="checkbox">
                                                <input type="checkbox" value="" id="compare10">
                                                <label for="compare10">مقایسه</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-listing-content">
                                        <h5><a href="{% url 'addetail' car.id %}">{{ car.car_name }}</a></h5>
                                        {% if car.price.type == 'F' %}
                                            <p class="list-price">{{ car.price.price }}</p>
                                        {% elif car.price.type == 'A' %}
                                            <p class="list-price">توافقی</p>

                                        {% else %}
                                            <p class="list-price">اقساطی</p>

                                        {% endif %}
                                        <div class="car-location"><span><i class="fa fa-map-marker"
                                                                           aria-hidden="true"></i> {{ car.user }}</span>
                                        </div>
                                        <ul class="features_list">
                                            <li><i class="fa fa-road" aria-hidden="true"></i>35 هزار کیلومتر</li>
                                            <li><i class="fa fa-tachometer" aria-hidden="true"></i>35 هزارمایل</li>
                                            <li><i class="fa fa-calendar"
                                                   aria-hidden="true"></i>مدل {{ car.year_of_create }}</li>
                                            {% if car.fuel_type == 'C' %}
                                                <li><i class="fa fa-car" aria-hidden="true"></i>CNG</li>
                                            {% elif car.fuel_type == 'P' %}
                                                <li><i class="fa fa-car" aria-hidden="true"></i>بنزینی</li>

                                            {% elif car.fuel_type == 'D' %}
                                                <li><i class="fa fa-car" aria-hidden="true"></i>دیزلی</li>
                                            {% else %}
                                                <li><i class="fa fa-car" aria-hidden="true"></i>Hybrid</li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="pagination">
                        {% if is_paginated %}
                            <ul>
                                {% if page_obj.has_previous %}
                                    <li class="current"><a href="?page={{ page_obj.previous_page_number }}"><</a></li>
                                {% endif %}
                                {% for page in paginator.page_range %}
                                    {% if page == page_obj.number %}
                                        <li class="current"><a href="?page={{ page }}">{{ page }}</a></li>
                                    {% else %}
                                        <li><a href="?page={{ page }}">{{ page }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="current"><a href="?page={{ page_obj.next_page_number }}"> > </a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <!--Side-Bar-->
                <aside class="col-md-3 col-md-pull-9" style="right: 0 !important;">
                    <div class="sidebar_widget sidebar_search_wrap">
                        <div class="widget_heading">
                            <h5><i class="fa fa-filter" aria-hidden="true"></i> اتومبیل رویایی خود را پیدا کنید
                            </h5>
                        </div>
                        <div class="sidebar_filter">
                            <form action="#" method="get">
                                <div class="form-group select">
                                    <select class="form-control">
                                        <option> مکان را انتخاب کنید</option>
                                        <option> مکان 1</option>
                                        <option> مکان 2</option>
                                        <option> مکان 3</option>
                                        <option> مکان 4</option>
                                    </select>
                                </div>
                                <div class="form-group select">
                                    <select class="form-control">
                                        <option> مارک را انتخاب کنید</option>
                                        <option> مارک 1</option>
                                        <option> مارک 2</option>
                                        <option> مارک 3</option>
                                        <option> مارک 4</option>
                                    </select>
                                </div>
                                <div class="form-group select">
                                    <select class="form-control">
                                        <option> مدل را انتخاب کنید</option>
                                        <option> سری 1</option>
                                        <option> سری 2</option>
                                        <option> سری 3</option>
                                        <option> سری 4</option>
                                    </select>
                                </div>
                                <div class="form-group select">
                                    <select class="form-control">
                                        <option> سال مدل</option>
                                        <option> 1398</option>
                                        <option> 1397</option>
                                        <option> 1396</option>
                                        <option> 1395</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">محدوده قیمت ($) </label>
                                    <input id="price_range" type="text" class="span2" value="" data-slider-min="50"
                                           data-slider-max="6000" data-slider-step="5"
                                           data-slider-value="[1000,5000]"/>
                                </div>
                                <div class="form-group select">
                                    <select class="form-control">
                                        <option> نوع اتومبیل</option>
                                        <option> اتومبیل جدید</option>
                                        <option> ماشین دست دوم</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block"><i class="fa fa-search"
                                                                                   aria-hidden="true"></i> جستجوی
                                        اتومبیل
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </aside>
                <!--/Side-Bar-->
            </div>
        </div>
    </section>
    <!--/Listing-grid-view-->

    <!--Brands-->
    <section class="brand-section gray-bg">
        <div class="container">
            <div class="brand-hadding">
                <h5>برندهای محبوب</h5>
            </div>
            <div class="brand-logo-list">
                <div id="popular_brands">
                    <div><a href="#"><img src="{% static "assets/images/brand-logo-1.png" %}" class="img-responsive"
                                          alt="image"></a>
                    </div>
                    <div><a href="#"><img src="{% static "assets/images/brand-logo-2.png" %}" class="img-responsive"
                                          alt="image"></a>
                    </div>
                    <div><a href="#"><img src="{% static "assets/images/brand-logo-3.png" %}" class="img-responsive"
                                          alt="image"></a>
                    </div>
                    <div><a href="#"><img src="{% static "assets/images/brand-logo-4.png" %}" class="img-responsive"
                                          alt="image"></a>
                    </div>
                    <div><a href="#"><img src="{% static "assets/images/brand-logo-1.png" %}" class="img-responsive"
                                          alt="image"></a>
                    </div>
                    <div><a href="#"><img src="{% static "assets/images/brand-logo-2.png" %}" class="img-responsive"
                                          alt="image"></a>
                    </div>
                    <div><a href="#"><img src="{% static "assets/images/brand-logo-3.png" %}" class="img-responsive"
                                          alt="image"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Brands-->
{% endblock %}