{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}
    <!--Page Header-->
    <section class="page-header profile_page">
        <div class="container">
            <div class="page-header_wrap">
                <div class="page-heading">
                    <h1>ارسال یک وسیله نقلیه</h1>
                </div>
                <ul class="coustom-breadcrumb">
                    <li><a href="#">خانه</a></li>
                    <li>ارسال وسیله نقلیه</li>
                </ul>
            </div>
        </div>
        <!-- Dark Overlay-->
        <div class="dark-overlay"></div>
    </section>
    <!-- /Page Header-->

    <!--Post-vehicle-->
    <section class="user_profile inner_pages" style="direction: rtl;text-align: right">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                </div>
                <div class="col-md-6 col-sm-8">
                    <div class="profile_wrap">
                        <h5 class="uppercase underline">ارسال یک وسیله نقلیه جدید</h5>
                        <form action="#" method="get">
                            {{ car_form.as_p }}
                            <hr>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Post-vehicle-->

{% endblock %}